<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>instructors</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Specialization</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i:${instructorList}">
        <td th:text="${i.id}"></td>
        <td th:text="${i.firstName}"></td>
        <td th:text="${i.lastName}"></td>
        <td th:text="${i.phoneNumber}"></td>
        <td th:text="${i.email}"></td>
        <td th:text="${i.specialization}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>