<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<div>
    <a th:href="@{/api/companies}">
       <button>company</button>
    </a>
</div>
<div>
    <a th:href="@{/api/courses}">
        <button>course</button>
    </a>
</div>
<div>
    <a th:href="@{/api/instructors}">
        <button>instructor</button>
    </a>
    </div>
<div>
    <a th:href="@{/api/lessons}">
        <button>lesson</button>

    </a>
</div>
<div>
    <a th:href="@{/api/students}">
        <button>student</button>
    </a>
</div>
<div>
    <a th:href="@{/api/tasks}">
        <button>task</button>

    </a>
</div>
<div>
    <a th:href="@{/api/videos}">
        <button>video</button>

    </a>
</div>
</body>
</html>